<div class="container">
    <div class="home2">
        <H2 >DESAFIO ANGULAR CRIANDO UM ECOMERCE DO ZERO </H2>
        <p>VERSÃO COM ANGULAR MATERIAL E CSS </p>
        <P>A IDEIA  SERIA CRIAR UM E-COMERCE DE CERVEJA,
            FUTURAMENTE DEVE-SE MELHORAR O PROJETO ADICIONANDO AS FOTOS, DESCRIÇÃO, E MELHORAR O CSS PARA UMA MELHORAR VISUALIZAÇÃO, 
            NESSE MOMENTO FOI UTILIZADO COM ARQUIVO.JSON NA PASTA ASSETS COMO "API", SENDO O OBEJTIVO DESSA APLICAÇÃO APENAS CONECTAR 
            O PROJETO COM ESSE ARQUIVO ATRAVEZ DO HTTP
        </P>
    </div>
</div>
